.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
@media() {
  .background-video {
    width: 100%;
    height: auto;
  }
}

ul {
  list-style-type: none;
}

.heading-section {
  padding-top: 20px;
  padding-left: 30px;
}

.todaycolumn1 {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.todayicon {
  font-size: 84px;
  text-align: center;
}
#temperature {
  color: rgb(32, 33, 36);
  font-size: 3.5rem;
  font-weight: 650;
  line-height: 1;
  padding-left: 10px;
}

.degree {
  position: relative;
}
#celsiusLink.active,
#fahrenheitLink.active {
  color: rgb(32, 33, 36);
  cursor: default;
}
#celsiusLink.active:hover,
#fahrenheitLink.active :hover {
  text-decoration: none;
}
#weatherDescription {
  text-transform: capitalize;
}

.todaycolumn2 {
  text-align: left;
  padding-left: 30px;
}

h4 {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
}
.card.day-section {
  height: 180px;
  width: 160px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  align-content: center;
}
.boundry-daycontent {
  padding-bottom: 20px;
  font-size: 14px;
  border-radius: 1px solid grey;
}
.day-content {
  text-align: center;
  padding-left: 0px;
}
.day-of-week {
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 5px;
}
.forecast-icon {
  font-size: 42px;
  padding-bottom: 10spx;
}
.boundrybox {
  padding-bottom: 20px;
}
.weatherbox {
  max-width: 200px;

  padding-top: 50px;
  opacity: 0.8;
}
.container.text-center.fiveDay {
  padding-left: 30px;
}
#link {
  text-align: right;
  font-size: x-small;
  font-weight: 400;
  padding-right: 85px;
  color: rgb(32, 33, 36);
}
